body{
    background-image: url('frame52.jpg');
	scroll-behavior: smooth;
    overflow-x: hidden;
}

.ticket-background{
    background-image: url('frame58.jpg');
	
}


.background-frame{
	background-image: url("frame60.jpg");
    background-color: #cccccc;
    height: 100%;
    border-radius: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
	box-shadow:20px 20px 50px 15px brown;
}

.background-border{
	background-image: url("borderframe1.jpg");
    background-color: #cccccc;
    height: 30px;
    width: 100%;
  
    background-repeat: repeat-x;
    background-size: 50% 30px;
    position: relative;
}

.text{
    text-align: center;
    color: #e6e03c;
    font-family: 'Sofia';
    font-size: 26px;

}

.text1{
    text-align: center;
    color: brown;
    font-family: 'Sofia';
    font-size: 26px;
    padding-top: 20px;
}		

.text2{
    text-align: center;
    color: brown;
    font-family: 'Sofia';
    font-size: 18px;
    padding-top: 20px;
}	

.text22{
    text-align: center;
    color: white;
    font-family: 'Sofia';
    font-size: 18px;
    padding-top: 20px;
}	



.text3{
    text-align: center;
    color: brown;
    font-family: 'Sofia';
    font-size: 27px;
    padding-top: 10px;
}					
		
.parallax {
  /* The image used */
  

  /* Set a specific height */
  height: 600px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}	
/* text ion image*/
.parallax0 {
  position: relative;
  text-align: center;
  color: red;
  font-family: 'Sofia';
  font-size: 22px;
}

.center {
  position: absolute;
  top: 30%;
  left: 30%;
  right:30%;
}

.top-center {
  position: absolute;
  top: 18%;
  text-align:center;
  left: 20%;
  right: 20%;
}

.topic-center {
  position: absolute;
  top: 18%;
  right: 20%;
  left: 20%;
  
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}



/* ticket */




.main-ticketbox {
  width: 100%;
  height: 460px;
  
  display: flex;
  justify-content: center;
  padding-top: 120px ;
}





.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin: 25px;
  perspective: 10s00px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}


.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
  box-shadow:20px 20px 10px 5px brown;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
  box-shadow:20px 20px 50px 15px brown;
}






/* footer */



.new_footer_area {
    background-color: black;
	/*linear-gradient(to bottom, #00ffcc 0%, #ff0066 100%);*/
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: red;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: red;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid yellow;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: green;
    border-color: green;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: red;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: red;
}










/*************footer End*****************/

/*navbar*/


.hh{
  background:rgb(128, 128, 0);
 
  padding: 1px 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  height: 64px;
   
}
.hh ul{
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.hh ul li{
  width: 120px;
  margin: 10px;
  margin-top:2px;
  padding:10px;
}
.hh ul li a{
  text-decoration: none;
  color: #fff;

}

.active,.hh ul li:hover{
	color:#fff;
	background:rgb(0,0,0,30);
	border-radius: 8px;
}

/* bottom nav*/

.hh1{
  background-image: url("frame60.jpg");
  
  padding: 1px 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  height: 54px;
  
   
}
.hh1 ul{
  display: inline-flex;
  list-style: none;
  color: black;
  
}
.hh1 ul li{
  width: 240px;
  margin: 10px;
  margin-top:2px;
  padding:10px;
  
}
.hh1 ul li a{
  text-decoration: none;
  color: black;

}

.active,.hh1 ul li:hover{
  color:black;
  background: rgb(120,120,120,11);
  border-radius: 8px;
}  