*{
	padding: 0;
	margin:0;
	
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background:#161623;
	min-height: 100vh;
	font-family: 'Quicksand', sans-serif;

}
.top {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 70%;
	margin-top:7%;
	padding:20px 20px;
	font-size: 6em;
	color: #fff;
	text-shadow: 0 0 20px #ff005b;


}
.top:after{
	content: attr(data-type);
	position: initial;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	color: #ff005b;
	filter: blur(15px);

}
.top:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: #fe3a80;
	z-index: -2;
	opacity: .5;
	filter: blur(40px);
}

.top h2{
	font-size:50px;
	padding-top: 50px;
}



section{
	width: 100%;
	height: 100vh;
}
section::before{
	content: '';
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#f45645,#f0f55f);
	clip-path: circle(20% at 0% 0%);
	
}
section::after{
	content: '';
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(#2196f3,#e91e63);
	
  clip-path: circle(20% at 100% 100%);
}

.container{
	position: relative;
	z-index: 1;
	display: flex;
	padding-top: 10%; 
	justify-content: center;
	align-self: center;
	flex-wrap: wrap;
	margin:40px 0;

}
.container .card{
	position: relative;
	width: 200px;
	height: 400px;
	background: rgba(255,255,255,0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}
.container .card .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.5;
	transition: 0.5s ;

}
.container .card:hover .content{
	opacity: 1;
	transform: translateY(-20px);

}
.container .card .content .imgbx{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 40%;
	overflow: hidden;
	border: 10px solid rgba(0,0,0,0.25); 
}
.container .card .content .imgbx img{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.container .card .content .contentbx h3{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;

}
.container .card .content .contentbx h3 span{
	font-size: 12px;
	font-weight: 300;
	text-transform: initial; 
}

.container .card .sci{
	position: absolute;
	bottom: 50px;
	display: flex;
}
.container .card .sci li{
	list-style: none;
	margin: 0 10px;
	transform: translate(40px);
	transition: 0.5s;
	opacity: 0;
	transition-delay: calc(0.1s * var(--i));
}
.container .card:hover .sci li{
	transform: translateY(0px);
	opacity: 1;
} 

.container .card .sci li a{
	color: #fff;
	font-size:24px;
}









